a {
  text-decoration: none;
  color: inherit;
}

.intro {
  margin: 2rem 3rem;
}

.intro h1 {
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 0;
}

.intro p {
  line-height: 2;
  margin: 0;
  font-style: italic;
}

.searchBar {
  margin-top: 1rem;
  padding: 1rem 0;
  width: 15rem;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

.searchBar::placeholder {
  color: #fff;
  font-size: 24px;
}

.gamesContainer {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
 
}

.gameContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 20rem;  
  height: 19rem;
  margin:0.5rem;  
  
  
  
}

.gameContainer .details {
  text-decoration: none;
}

.image {
  width: 20rem;
}

.gameContainer h2 {
  margin-bottom: 0;
}

.details {
  display: flex;
  flex-direction: column;
  
}

.title {
  background-color: #fff;
  font-size:1.5rem;
  margin: 0;
  padding-left: 0;
}

.details p {
  margin-left: 0.5rem;
  
}

p {
  margin: 0;
}

.genre {
  margin-top: 0.5rem;
}