
html {
  background-color:#0070d1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem; 
  font-size: 2rem;
  align-items: center;
  background-color: #0e110f;
  color: #fff;
}

header h3 {
 margin: 0;
}